@{
    ViewBag.Title = "About";
}


<h2>Example Razor Page</h2>

@using (Html.BeginForm())
{
    <p>
        <label> First Name: </label>
        <input> type="text" required id="FirstName" name ="FirstName"/>
    </p>
    <p>
        <label>Last Name: </label>
        <input type="text" required id="LastName" name="LastName"/>
    </p>

    <p>
        <input type="submit" value="Submit"/>
    </p>
}